.tile-preview {
    background-color: st-transparentize(-st-accent-color, 0.8);
    border: 2px solid st-transparentize(-st-accent-color, 0.2);
    border-radius: 0px;
    z-index: -1;
}

.mosaic-preview {
    background-color: st-transparentize(-st-accent-color, 0.8);
    border: 2px solid st-transparentize(-st-accent-color, 0.2);
    border-radius: 12px;
    z-index: -1;
}

.mosaic-focus-corner {
    background-color: transparent;
    border-color: -st-accent-color;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
}

.mosaic-focus-corner.corner-top-left {
    border-top-width: 3px;
    border-left-width: 3px;
}

.mosaic-focus-corner.corner-top-right {
    border-top-width: 3px;
    border-right-width: 3px;
}

.mosaic-focus-corner.corner-bottom-left {
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.mosaic-focus-corner.corner-bottom-right {
    border-right-width: 3px;
    border-bottom-width: 3px;
}

/* Edge-tiled windows should have square corners (both 1/2 and 1/4) */
:edge-tiled {
    border-radius: 0 !important;
}

:edge-tiled .window-clone {
    border-radius: 0 !important;
}
